body{
    background-color: rgb(194, 241, 108);
}

input[type="text"] {
    width: 100%;
    padding: 05px 08px;
    margin: 3px 0;
    box-sizing: border-box;
}

input[type="number"] {
    width: 100%;
    padding: 05px 08px;
    margin: 3px 0;
    box-sizing: border-box;
}

input[type="date"] {
    width: 100%;
    padding: 05px 08px;
    margin: 3px 0;
    box-sizing: border-box;
}